*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.all{
  display:flex;
    flex-direction: column;
    padding:6%;
}
body{
  background-image: url(background.jpg);
  animation: bg 30s linear infinite;
}
.heading{
  font-size: 60px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  color: #cae4db;
}
.instructions{
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.Enter{
  color: white;
  font-size:20px;
    font-family: 'Quicksand', sans-serif;
}
#Entered{
  color: #e7e7de;
  font-size: 25px;
  font-family: 'Zilla Slab Highlight', cursive;
}
#input{
  margin-top:10px;
   width:80%;
   height:40px;
   border-radius: 100px;
   border:none;
   outline:none;
   text-align: center;
   color: black;
}
#button{
  margin-top: 20px;
  background-color: #e7e7de;
  width: 150px;
  height: 40px;
 border-radius: 30px;
 font-size: 15px;
 color: black;
 font-family: 'Quicksand', sans-serif;
 font-weight: bold;
 outline: none;
}
.Giveninput{
  font-size: 25px;

  color: white;
  font-family: 'Quicksand', sans-serif;
}

.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px
}
.result{
   height:40px;
    width: 195px;
    margin:2%;
    padding:10px;
    text-align: center;
    border-radius: 50px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
}
.result:nth-child(even){
    background-color: #c6ebc9;
    box-shadow: 2px -0px 10px black;

}
.result:nth-child(odd){
    background-color:#9dab86;
    color: black;
    box-shadow:2px -0px 10px black;
}
